[{sasl,[{errlog_type,error}]},
 {gma,[{'Elixir.Gma.Repo',[{adapter,'Elixir.Ecto.Adapters.MySQL'},
                           {database,<<"gma">>},
                           {username,<<"root">>},
                           {password,<<"o2bnUF!!">>},
                           {hostname,<<"104.196.125.168">>}]}]}].
